---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'

export interface Props {
  content: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
  }
}

const {
  content: { title, description, pubDate, updatedDate, heroImage }
} = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main>
      <!-- TODO: make links in blockquotes not blend in so much in dark mode -->
      <article
        class="prose prose-sm lg:prose-lg xl:prose-xl dark:prose-blockquote:text-slate-300 prose-blockquote:bg-slate-300 prose-slate prose-img:ml-auto prose-img:mr-auto lg:prose-img:my-0 dark:prose-invert max-w-full px-2 dark:prose-a:text-blue-300 prose-blockquote:bg-opacity-10 prose-a:text-green-600 hover:prose-a:text-green-800 dark:hover:prose-a:text-blue-600"
      >
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </Body>
</html>
